@import './main.scss';

.container_catalog{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-family: $font_main;
    display: flex;
}
.categ_cont{
    width: 241px;
    height: 400px;
}
.titl_categ_cont{
    width: 231px;
    height: 40px;
    border-radius: 2px;
    background-color: $main_color;
    text-transform: uppercase;
    color: white;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}
.categ_list{
    width: 241px;
    height: 300px;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    font-family: $font_main;
    font-size: 14px;
}
.categ_li{
    width: 231px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    
}
.categ_li:hover{
    background-color: $main_color;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.price_cont{
    width: 241px;
}

//сам каталог
.cont_main_catalog_card{
    width: 899px;
    margin-left: 30px;
    height: 900px;
}
.item_menu{
    width: 899px;
    border: 1px solid #EEE;
    height: 38px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.icon_menu{
    cursor: pointer;
    margin-left: 10px;
}

//выпадающий список 
.dropdown2 {
    width: 200px;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: 20px;
}
.dropdown2 > a[href='/']{
    border-radius: 2px;
    color: #000;
}
.dropdown2 > a::after {
    content: "";
    float: right;
    margin: 8px 8px 0 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000000;
}
.dropdown2 ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.dropdown2 a {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 25px;
    font-family: $font_main;
    font-weight: 400;
    font-size: 13px;
    background-color: #EEE;
}
.dropdown2 li {
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.dropdown2.hover li {
    transition-delay: 300ms;
}
.dropdown2 li:first-child a {
    border-radius: 2px 2px 0 0;
}
.dropdown2 li:last-child a {
    border-radius: 0 0 2px 2px;
}
.dropdown2 li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    margin: -10px 0 0 30px;
}
.dropdown2 a:hover {
    background-color: $main_color;
    color: #fff;
}
.dropdown2 > a:hover::after {
    border-top-color: #fff;
}
.dropdown2 li:first-child a:hover::before {
    border-bottom-color: #EEE;
}
.dropdown2.hover:hover li {          
    height: 25px;
}
.dropdown2.hover:hover li:first-child {
    padding-top: 15px;
}

//карточка
.product-card{
    width: 216px;
    height: 376px;
    margin: 10px;
    font-family: $font_main;
    border-radius: 6px;
}
.product-list{
    width: 899px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.desc_card{
    font-family: $font_main;
    margin: 15px;
}
.desc_price{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.act{
    font-size: 17px;
    font-weight: 600;
    color: $main_color;
    width: auto;
}
.neact{
    font-size: 14px;
    text-decoration: line-through;
    color: #727272;
    margin-left: auto;
    margin-right: 0px;
}
.desc_name_card{
    margin-top: 2px;
    font-size: 14px;
    margin-bottom: 4px;
}
.response_cont{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #727272;
}
.response{
    margin-left: 3px;
    margin-right: 5px;
}
.num_resp{
    margin-left: 5px;
}
.css-1ps6pg7-MuiPaper-root {
    box-shadow: none !important;
}
.product-card:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

//страница товара
.prod_detail_container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.product_info{
    display: flex;
    font-family: $font_main;
}
.images_product{
    width: 445px;
    height: 445px;
}
.categ_inf{
    display: flex;
    font-size: 14px;
}
.categ_inf div{
    text-transform: lowercase;
    margin-left: 5px;
}
.name_prod{
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}
.main_info_prod{
    width: 600px;
}
.desc_prd_info{
    font-size: 16px;
}
.price_info{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.price_now{
    font-size: 24px;
    font-weight: 600;
    color: $main_color;
}
.price_old{
    text-decoration: line-through;
    color: #727272;
    margin-left: 10px;
}
.zak_prod_inf{
    width: 142px;
    height: 40px;
    border: none;
    background-color: #7D8AFA;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    border-radius: 2px;
    font-family: $font_main;
}
.zak_prod_inf:hover{
    background-color: #5d66ba;
    transition: all 0.5s;
}